/* for Footer Section */
.footer {
  /* background: rgba(10, 10, 10, 0.86); */
  background:  #0a0a0a;;
  padding: 3rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* for Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* for Text */
.text {
  font-size: 1rem;
  color: #94a3b8;
  margin-bottom: 0.5rem;
}

.text span {
  color: #f43f5e;
}

/* for Subtext */
.subtext {
  font-size: 0.85rem;
  color: #64748b;
  margin-bottom: 1.5rem;
}


.subtext code {
  background: #1a1a1a;
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  font-size: 0.75rem;
  color: #6c63ff;
}

/* for TechBadges */
.techBadges {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.techBadges span {
  background: #1a1a1a;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  font-size: 0.75rem;
  color: #94a3b8;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

