@font-face {
    font-family: 'Insta';
    src: url('/fonts/-pkMfchyeAZ.woff2');
}


@font-face {
    font-family: 'Insta2';
    src: url('/fonts/1GOXakOP6QP.woff2');
}

body{
    font-family: "Insta";
}

h1{
    font-family: "Insta2";
}