.navbar {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  background-color: pink;
}

/* foodpanda Logo & Text */
.foodpandaLogoText {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* foodpanda Logo */
.foodpandaLogo {
  height: 35px;
  width: 35px;
  border-radius: 7px;
}

/* foodpanda Text */
.foodpandaText {
  font-size: 24px;
  font-weight: 400;
  color: #e21b70;
}

/* Foodpanda Location */
.foodpandaLocation {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.address{
   font-weight: 500;
   font-size: 16px;
}
